#testimonal {
  padding-top: 7rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.carousel-root {
  width: 64% !important;
  margin: auto !important;
}
.carousel .slide {
  background: #fff !important;
  padding-top: 20px;
  color: black;
  height: 100%;
}

.myCarousel {
  background: rgb(241, 241, 241);
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  border: 2px solid #ddd;
  height: 350px;
}
.myCarousel.projectCarousel {
  height: auto;
  padding: 0;
}
.myCarousel.projectCarousel img {
  width: 100%;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 2% !important;
}

.myCarousel h3 {
  color: var(--themeBlue--);
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  margin-top: 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #919191;
  font-size: 14px;
}

.myCarousel p {
  line-height: 29px !important;
  color: #000;
  font-size: 15px;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: var(--themeBlue--);
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: var(--themeBlue--);
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }
  .testimonalVideo {
    width: 100%;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    width: 88%;
    padding-bottom: 15.5%;
    height: 365px;
  }
}
